/* 
    styles.css - defines basic formatting for html elements 
*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(247, 172, 73);
    padding: 20px;
    text-align: left;
}

#add-button{
    background-color: rgb(247, 172, 73);
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#body-input,
#title-input {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 15px;
  overflow-y: auto;
  max-height: 100px;
}

#reminder-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#reminder-div {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#reminder-form input[type="text"],
#reminder-form label {
    margin-bottom: 10px;
}

#calendar-container {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 9999; /* Ensures the calendar is on top of other elements */
}

#calendar-container.visible {
    display: block;
}
